<div class="row">
  <div class="col">
    <h2 *ngIf="action === ''">Alta</h2>
    <h2 *ngIf="action === 'edit'">Editar</h2>
    <h2 *ngIf="action === 'view'">Artículo</h2>
  </div>
  <div class="col">
    <button mat-button color="primary" [routerLink]="['']">Explorador</button>
  </div>
</div>
<form [formGroup]="form" (submit)="save()">
  <div class="row">
    <div class="col-lg-4 col-sm-12">
      <label for="identificador">Identificador</label>
      <input type="text" class="form-control" formControlName="id">
    </div>
    <div class="col-lg-2 col-sm-12">
      <label for="codigo">Código</label>
      <input type="text" class="form-control" formControlName="codigo">
    </div>
    <div class="col-lg-6 col-sm-12">
      <label for="nombre">Nombre</label>
      <input type="text" class="form-control" formControlName="nombre">
    </div>
  </div>
  <div class="button-form mt-4" *ngIf="action !== 'view'">
    <button mat-raised-button color="primary" type="submit">Guardar</button>
  </div>
</form>
